# Winter data challenge

## Import dependances

In [1]:
import pandas as pd
import geopandas as gpd
import os

## Load files

In [2]:
#1) TrainStationEntriesExits
TrainStationEntriesExits = "./WDAC_2025_data/TrainStationEntriesExits/train-station-entries-exits-data-may-2025.csv"
TrainStationEntriesExits = pd.read_csv(TrainStationEntriesExits)
TrainStationEntriesExits.head()

  MonthYear               Station Station_Type  Entry_Exit          Trip
0    Aug-24     Aberdeen  Station         train      Entry  Less than 50
1    Aug-24     Aberdeen  Station         train       Exit  Less than 50
2    Aug-24    Adamstown  Station         train      Entry          2585
3    Aug-24    Adamstown  Station         train       Exit          2391
4    Aug-24  Albion Park  Station         train      Entry          6919

In [3]:
#2) TrainStationEntranceLocation
TrainStationEntranceLocation = "./WDAC_2025_data/TrainStationEntranceLocations/stationentrances2020_v4.csv"
TrainStationEntranceLocation = pd.read_csv(TrainStationEntranceLocation)
TrainStationEntranceLocation.head()

,Train_Station,Street_Name,Street_Type,Entrance_Type,LAT,LONG,Exit_Number
0,Aberdeen,Macqueen,St,Ramp,-32.166886,150.891957,NaN
1,Aberdeen,Macqueen,St,Stairs,-32.166900,150.891975,NaN
2,Adamstown,Park,Ave,Path,-32.933706,151.720452,NaN
3,Adamstown,Park,Ave,Path,-32.933827,151.720236,NaN
4,Adamstown,St James,Rd,Stairs,-32.933414,151.720363,NaN

In [4]:
#3) SydneyTrainRoutes
shapefile_path = "./WDAC_2025_data/SydneyTrainRoutes/sydneytrains/SydneyTrains.shp"
SydneyTrainRoutes = gpd.read_file(shapefile_path)

# Check the first few rows
SydneyTrainRoutes.head()

,objectid,shape_id,route_id,agency_id,route_shor,route_long,route_desc,route_type,route_colo,route_text,exact_time,route_ty00,st_length(,geometry
0,1,APS_1a,APS_1a,SydneyTrains,T8,City Circle to Macarthur via Airport,T8 Airport & South Line,Rail,00954C,FFFFFF,None,Rail,67399.109358,"LINESTRING (16832327.387 -4013201.666, 1683235..."
1,54,SCO_1a,SCO_1a,NSWTrains,SCO,Bondi Junction and Central to Bomaderry,South Coast Line,Rail,005AA3,FFFFFF,None,Rail,194277.573535,"LINESTRING (16836959.548 -4014215.996, 1683679..."
2,55,SCO_1b,SCO_1b,NSWTrains,SCO,Bondi Junction and Central to Port Kembla,South Coast Line,Rail,005AA3,FFFFFF,None,Rail,118023.250081,"LINESTRING (16836959.548 -4014215.996, 1683679..."
3,56,SCO_2a,SCO_2a,NSWTrains,SCO,Bomaderry to Central and Bondi Junction,South Coast Line,Rail,005AA3,FFFFFF,None,Rail,194277.573535,"LINESTRING (16765811.588 -4144037.366, 1676629..."
4,57,SCO_2b,SCO_2b,NSWTrains,SCO,Port Kembla to Central and Bondi Junction,South Coast Line,Rail,005AA3,FFFFFF,None,Rail,118023.250081,"LINESTRING (16798220.922 -4093038.532, 1679824..."

In [5]:
#3) Opal Patronages
# alot of them each one is txt
folder = "./WDAC_2025_data/OpalPatronage"
dfs = []

for file in os.listdir(folder):
    if file.endswith(".txt"):
        df = pd.read_csv(os.path.join(folder, file), sep='|')
        dfs.append(df)

opal_df = pd.concat(dfs, ignore_index=True)
opal_df.head()

C:\Users\soora\AppData\Local\Temp\ipykernel_24008\2516324058.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  opal_df = pd.concat(dfs, ignore_index=True)

,trip_origin_date,mode_name,ti_region,tap_hour,Tap_Ons,Tap_Offs,https://opendata-tpa.transport.nsw.gov.au/Opal_Patronage/2020-01/Opal_Patronage_20200101.txt
0,2020-01-01,Bus,Chatswood,0.0,<50,<50,NaN
1,2020-01-01,Bus,Macquarie Park,0.0,<50,<50,NaN
2,2020-01-01,Bus,Newcastle and surrounds,0.0,<50,<50,NaN
3,2020-01-01,Bus,North Sydney,0.0,700,100,NaN
4,2020-01-01,Bus,Other,0.0,4500,3200,NaN

## Data cleaning and preprocessing